@charset "UTF-8";
/*GENERALES*/
.uk-navbar-nav > li > a {
  padding: 0 0;
  color: #390000;
  text-transform: uppercase;
  transition: 0.1s ease-in-out;
  position: relative;
  font-family: Quicksand;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}

.uk-navbar-nav > li > a:hover {
  padding: 0 0;
  color: black;
  text-transform: uppercase;
}

.navbarContacto {
  margin-right: 20px;
}

.underline::before {
  content: "";
  /* Añadir un elemento vacío antes del texto */
  position: absolute;
  /* Establecer posición absoluta para el elemento */
  width: 100%;
  /* Ajustar el ancho al 100% del elemento padre */
  height: 2px;
  /* Establecer la altura del subrayado */
  bottom: 0;
  /* Ajustar la posición del subrayado */
  left: 0;
  background-color: #390000;
  /* Establecer el color del subrayado */
  visibility: hidden;
  /* Ocultar el subrayado por defecto */
  transform: scaleX(0);
  /* Ajustar la escala horizontal a cero */
  transition: all 0.3s ease-in-out;
  /* Añadir una transición para la animación */
}

.underline:hover::before {
  visibility: visible;
  /* Mostrar el subrayado al hacer hover */
  transform: scaleX(1);
  /* Ajustar la escala horizontal al 100% */
}

.uk-card-defaultt {
  background-color: transparent;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

a .logo {
  max-height: 325px;
  object-fit: cover;
}

.uk-navbar-nav > li.uk-active > a {
  padding-top: 10px;
  max-height: 107px;
}

.nosotrosSection1Containerimgtexto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nosotrosSection1Containerimgtexto img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
.nosotrosSection1Containerimgtexto p {
  width: 50%;
}

.NosotroscontainerTexto {
  font-family: "Noto Serif";
  font-size: 25px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  color: #390000;
}

.nosotrosSection1TituloCont {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nosotrosSection1Titulo {
  color: #BF304A;
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.nosotrosSectionEquipoTexto2 {
  height: 250px;
  padding-top: 30px;
}

.nosotrosSection1TituloTexto {
  width: 50%;
  padding-top: 20px;
}

.nosotrosSection1TituloTextoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.nosotrosSectionTituloEquipo {
  text-align: center;
  color: #BF304A;
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #000000;
}

.nosotrosSectionEquipoTexto {
  margin: 20px;
  text-align: center;
  padding-left: 0px;
  max-width: none;
}

.nosotrosSectionTituloEquipoFoto {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.nosotrosTextoSocias {
  font-family: Quicksand;
  font-size: 1px;
  color: #390000;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.nosotrosTextoProfesionales {
  font-family: "Quicksand";
  font-size: 25PX;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #390000;
  margin-top: 15px;
}

.nosotrosTextoProfesionalesAle {
  font-family: "Quicksand";
  font-size: 25PX;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #390000;
}

.nosotrosSectionTituloEquipoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nosotrosSectionTituloCoordiContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*contacto*/
.contactoFormContainer {
  margin-bottom: 20px;
  width: 50%;
  margin-right: 0px;
}

.contactoContainerInfoTitulos {
  font-weight: bold;
  color: #390000;
}

.uk-grid-column-small > *, .uk-grid-small > * {
  padding-left: 1px;
}

.contactoContainerInfoTitulosP {
  color: #390000;
  font-family: "Quicksand";
  font-size: 18px;
  font-weight: 300;
  line-height: 15px;
}

.formContainer {
  text-align: center;
  flex-direction: row;
}

.input {
  height: 50px;
  color: black;
  left: 768px;
  top: 812px;
  border-radius: 20px;
}

.contactoFormContainer h1 {
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #BF304A;
  height: 91px;
  border-bottom: 1px solid #000000;
  left: 763px;
  top: 291px;
}

.contactoFormTexto {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 15px;
}

.contactoFormContainerTextoContactese {
  font-family: Quicksand;
  font-size: 29px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #390000;
}

.contactoDataContainer {
  width: 40%;
  padding-left: 45px;
}

.contactoDataContainer h1 {
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  color: #BF304A;
  padding-top: 7px;
  border-bottom: 1px solid #000000;
  margin-top: 2px;
  padding-bottom: 20px;
}

.contactoContainerSection1 {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
  margin-top: 20px;
}

.input {
  background: #FEE1B5;
  color: black;
  left: 768px;
  top: 812px;
  border-radius: 20px;
}

.contactoButtonEnviar {
  box-sizing: border-box;
  width: 199px;
  height: 49px;
  background-color: #BF304A;
  border: 1px solid #000000;
  border-radius: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Montserrat";
  margin: 20px;
}

.contactoContainerInfo {
  display: flex;
  flex-wrap: wrap;
  min-height: 480px;
  list-style-type: none;
  padding-left: 0px;
  flex-direction: column;
  line-height: 14px;
}

.contactoMensajeInput {
  height: 120px;
  margin-top: 30px !important;
}

.contactoMensajePlaceHolder {
  height: 60px;
}

.contactoMensajePlaceHolderET {
  height: 60px;
  width: 49%;
  margin-top: 30px !important;
}

.contactoMensajePlaceHolderT {
  height: 60px;
  width: 400px;
}

/*como trabajamos*/
.cTsection1Container {
  margin: 40px;
}

.cTsection1ContainerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

.cTsectionContainerImg {
  width: 100%;
}

.cTContainerTextoWidth {
  max-width: 500px;
  padding-left: 0PX;
}

.cTsectionContainerImg img {
  height: 450px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.nosotrosSectionTituloEquipoFoto img {
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.cTsectionContainerTextoTituloPrincipal {
  display: flex;
  width: 100%;
  justify-content: center;
}

.cTsectionContainerImg2 {
  padding-left: 0px;
}

.cTsectionContainerImg2 img {
  height: 350px;
  max-width: 130%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.cTsectionContainerTexto {
  width: 50%;
  margin-bottom: 20px;
}

.cTcontainerTexto {
  color: #390000;
  font-family: "Noto Serif";
  font-style: normal;
  font-size: 20px;
  line-height: 54px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.cTsectionContainerTextoTitulo {
  font-family: "Quicksand";
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #BF304A;
  border-bottom: 1px solid #000000;
  text-align: center;
  width: 100%;
}

.cTcontainerNuestrasTerapiasSolesStyle {
  font-family: Quicksand;
  font-size: 28px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: #C93143;
  border-bottom: 1px solid #000000;
}

.cTsection2ContainerTituloSoles {
  width: 780px;
  display: flex;
  justify-content: space-around;
}

.cTsection2ContainerTituloSoles h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  color: #390000;
  margin-bottom: 0px;
  font-family: Quicksand;
}

.cTcontainerNuestrasTerapiasSoles {
  display: flex;
  height: 400px;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  margin: 13px;
}

.imgBorder {
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sectiooon {
  max-height: 500px;
}

.uk-slideshow-items > * {
  max-height: 500px;
}

.uk-position-small {
  margin: 15px;
  --uk-position-margin-offset: 155px;
}

.cTcontainerTextoFoto {
  width: 100%;
}

.cTcontainerTextoFotoFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cTcontainerSol {
  width: 280px;
  height: 400px;
}

.footerContainerInfo {
  display: flex;
  flex-wrap: wrap;
  height: 260px;
  list-style-type: none;
  padding-left: 0px;
  flex-direction: column;
  line-height: 14px;
  justify-content: center;
  margin-bottom: 0px;
}

.indexFooter {
  background: radial-gradient(126.78% 126.78% at 50% 124.3%, #F7985B 0%, #FFF157 52.33%, #FDFDF2 91.56%);
}

.uk-list {
  padding: 0;
  margin: 0px;
  list-style: none;
}

.indexFooterContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 10px;
  flex-wrap: nowrap;
}

.footerCetCoberturaContainer {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-content: space-around;
}

.indexFooterCoberturaContainer {
  border: 1px solid #390000;
  display: flex;
  height: 210px;
  max-width: 370px;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}
.indexFooterCoberturaContainer h3 {
  border-bottom: 1px solid #390000;
  margin-bottom: 0px;
  font-family: Quicksand;
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
}
.indexFooterCoberturaContainer p {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: center;
  color: #390000;
}

.uk-list {
  padding: 0;
  margin: 0px;
  list-style: none;
  width: 300px;
}

.uk-card-default {
  background-color: transparent;
  color: #666;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.uk-link,
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.uk-link,
a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footerMenu {
  font-family: Quicksand;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  box-shadow: inset 0 0 0 0 #BF304A;
  color: #390000;
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.footerMenu:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #BF304A;
}

.whatsapp {
  position: fixed;
  color: black;
  padding: 0.5rem 1rem;
  display: inline-block;
  bottom: 1rem;
  right: 0.1rem;
  text-decoration: none;
  z-index: 1;
  margin-bottom: 90px;
}

.whatsapp img {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.5em 1.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  width: 70px;
}

.uk-card-body {
  display: flow-root;
  padding: 30px 30px;
  text-align: center;
}

.strongColor {
  color: #BF304A;
}

.galeriaContainerJugamosImg {
  max-width: 100%;
  max-height: 846px;
  justify-self: stretch;
  align-self: stretch;
}

.galeriaContainerJugamosImg img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  background-position: center;
}

.galeriaContainerTituloJugamos {
  height: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.galeriaContainerTituloJugamos p {
  font-size: 34px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
  color: #390000;
  font-family: Quicksand;
}

* + .uk-grid-margin,
.uk-grid + .uk-grid,
.uk-grid > .uk-grid-margin {
  margin-top: 0px;
}

.galeriaImagenes img {
  height: 275px;
  object-fit: cover;
  object-position: center;
}

.nosotrosGaleriaWidthImgMobile1 {
  width: 33, 33% !important;
  padding: 0px;
}

.galeriaSection1TituloCont {
  display: flex;
  justify-content: flex-start;
  margin: 20px 20px 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.indexSection2Container1 {
  max-width: 700px;
}

.indexSection3Info {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 600;
  line-height: 59px;
  letter-spacing: 0em;
  color: #8C2A3B;
}

.indexSection2ContainerCetenidTextoPrincipal {
  font-family: "Noto Serif";
  font-size: 25px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #390000;
}

.indexSection2MiniContainersTitulo {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #BF304A;
  width: 300px;
}

.indexSection2MiniContainersTituloP {
  font-family: "Noto Serif";
  font-size: 25px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #390000;
  width: 300px;
}

.indexSection2MiniContainersTituloActRecrea {
  font-family: Montserrat;
  font-size: 26px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: #BF304A;
  width: 300px;
}

.indexCarrouselImg {
  justify-self: stretch;
  align-self: stretch;
  object-fit: cover;
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  min-height: 40px;
}

.indexSection2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.indexSection2Col2 {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indexSection2MiniContainers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 400px;
  justify-content: space-between;
}

.indexSection2ButtonContainer {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 45px;
}

.indexSection2ButtonContainer a:hover {
  color: white;
}

.indexSeccion3MiniContainers {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.uk-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /*error*/
}

.uk-child-width-1-2\@s > * {
  width: 35%;
}

.indexSection3Button {
  box-sizing: border-box;
  width: 349px;
  height: 52px;
  background-color: #BF304A;
  border: 1px solid #000000;
  border-radius: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Montserrat";
  margin: 20px;
  box-shadow: 32px 19px 42px 0px rgba(71, 71, 71, 0.25);
}

.indexSection3ButtonContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.indexSection3ButtonContainer a {
  text-decoration: none;
  list-style-type: none;
}

.indexSection3ButtonContainer a:hover {
  color: white;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(270deg, #F7985B 0%, #FFF157 23.44%, #FDFDF2 73.96%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  background-color: #FDFDF2;
}

.indexSection2ContainerCetenid {
  border-left: 3px solid #BF304A;
  padding: 20px;
}

.indexSection2ContainerCetenid h1 {
  color: #BF304A;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
}

.uk-position-small {
  margin: 15px;
  --uk-position-margin-offset: 40px;
}

.uk-width-1-2\@m {
  width: 30%;
  margin: 10px;
  background-color: transparent;
  text-align: center;
}

.indexSection2Button {
  box-sizing: border-box;
  width: 349px;
  height: 52px;
  background-color: #BF304A;
  border: 1px solid #000000;
  border-radius: 20px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: center;
  font-family: "Montserrat";
  margin: 20px;
}

.carrouselimg {
  height: 520px !important;
  object-fit: cover;
}

.carrouselimgul {
  min-height: 494px !important;
}

.carrouselimgli {
  justify-self: stretch;
  align-self: stretch;
}

@media (max-width: 7000px) {
  .solMobile {
    display: none;
  }
  .uk-child-width-1-3\@m > * {
    width: 33, 33%;
    padding: 0px;
  }
  .contactoMensajePlaceHolderT {
    height: 60px;
    width: 440px;
  }
}
@media (max-width: 1336px) {
  .uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .formContainer {
    flex-direction: column !important;
  }
  .cTsection2ContainerTituloSoles {
    width: auto;
  }
  .widthInputContainer {
    width: 100%;
  }
  .contactoMensajePlaceHolderT {
    width: 900px;
  }
  .contactoMensajePlaceHolderET {
    width: none;
  }
  .uk-child-width-1-2\@m > * {
    width: 100%;
  }
  * + .uk-grid-margin,
  .uk-grid + .uk-grid,
  .uk-grid > .uk-grid-margin {
    padding-left: 0px;
  }
  .uk-grid > * > :last-child {
    padding-left: none;
  }
  .indexSection3Info {
    text-align: center;
  }
  .cTsectionContainerImg img {
    max-width: 100%;
  }
}
@media (max-width: 1329px) {
  .uk-child-width-1-2\@m > * {
    width: 100%;
  }
}
@media (max-width: 1281px) {
  .cTsectionContainerImg img {
    height: 450px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
@media (max-width: 1227px) {
  .footerContainerInfo {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    list-style-type: none;
    padding-left: 0px;
    flex-direction: column;
    line-height: 14px;
    justify-content: center;
    margin-bottom: 0px;
    width: 300px;
    margin-right: 5px;
  }
  .contactoMensajePlaceHolderET {
    width: none;
  }
  .uk-card-body {
    display: flow-root;
    padding: 0px 0px;
    padding-left: 0px;
    text-align: center;
  }
  .contactoContainerInfoTitulosP {
    color: #390000;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
}
@media (max-width: 1170px) {
  .uk-navbar-nav > li > a {
    padding: 0 0;
    color: #390000;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    position: relative;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .footerContainerInfo {
    width: 230px;
  }
  .uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
    width: 230px;
  }
}
@media (max-width: 978px) {
  .nosotrosSectionEquipoTexto2 {
    height: 270px;
  }
}
@media (max-width: 962px) {
  .underline::before {
    display: none;
  }
  .uk-navbar-nav > li > a {
    padding: 0 0;
    color: #390000;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    position: relative;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .cTsectionContainerTexto {
    width: 80%;
  }
  .nosotrosGaleriaWidthImgMobile {
    width: 500px;
  }
  .uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
    width: 200px;
  }
  .indexFooterContainer {
    margin-right: 20px;
    margin-left: 20px;
  }
  .uk-grid-item-match > :not([class*=uk-width]),
  .uk-grid-match > * > :not([class*=uk-width]) {
    box-sizing: border-box;
    width: 100%;
    flex: auto;
    text-align: center;
  }
  .cTsectionContainerImg2 img {
    height: 350px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}
@media (max-width: 954px) {
  .uk-grid {
    flex-direction: column-reverse;
  }
}
@media (max-width: 947px) {
  .uk-child-width-1-2\@s > * {
    width: 55%;
  }
}
@media (max-width: 871px) {
  .cTcontainerSol {
    display: none;
  }
  .solMobile {
    display: flex;
  }
  .cTcontainerNuestrasTerapiasSoles {
    display: flex;
    height: 900px;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin: 13px;
    flex-direction: column;
  }
  .uk-navbar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .uk-padding {
    padding: 0px;
  }
  .uk-navbar-center:only-child,
  .uk-navbar-left,
  .uk-navbar-right {
    flex-wrap: wrap;
    width: 100%;
  }
  .uk-navbar-left,
  .uk-navbar-right,
  [class*=uk-navbar-center] {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  .uk-navbar-nav > li > a {
    padding: 0 0;
    color: #390000;
    text-transform: uppercase;
    transition: 0.1s ease-in-out;
    position: relative;
    font-family: Quicksand;
    font-size: 19px;
    font-weight: 430;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .nosotrosSection1TituloTexto {
    width: 95%;
    padding-top: 20px;
  }
  .cTcontainerSol {
    display: none;
  }
  .cTsectionContainerImg img {
    max-width: 100%;
  }
  [class*=uk-child-width] > * {
    box-sizing: border-box;
    width: fit-content;
  }
  .galeriaSection1TituloCont {
    justify-content: center;
  }
}
@media (max-width: 852px) {
  .footerMenu:hover {
    color: none;
    box-shadow: none;
  }
  .indexSection2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .uk-grid {
    flex-direction: column;
  }
  .uk-child-width-1-2\@s > * {
    width: 65%;
  }
  .uk-grid-item-match > :not([class*=uk-width]),
  .uk-grid-match > * > :not([class*=uk-width]) {
    padding-right: 0px;
    margin: 20px;
  }
  .cTContainerSection1ImgTexto {
    flex-direction: column-reverse !important;
  }
  .indexFooterCoberturaContainer p {
    font-size: 14px;
    margin: 12px;
  }
}
@media (max-width: 823px) {
  .uk-child-width-1-3\@m > * {
    width: 100%;
    padding: 0px;
  }
}
@media (max-width: 783px) {
  .indexFooterContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .footerContainerInfo {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    list-style-type: none;
    padding-left: 0px;
    line-height: 14px;
    justify-content: space-around;
    margin-bottom: 0px;
    width: 300px;
    margin-right: 5px;
    flex-direction: row;
    text-align: center;
    width: 320px;
  }
  .indexSection2ContainerCetenid {
    border-left: 3px solid #BF304A;
    padding: 20px;
    margin: 0px;
  }
  .indexSection3Info {
    text-align: center;
  }
}
@media (max-width: 719px) {
  .contactoDataContainer {
    width: 90%;
    margin-top: 20px;
    padding-left: 0px;
  }
  .contactoDataContainer h1 {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    padding-top: 7px;
    border-bottom: 1px solid #000000;
    margin-top: 2px;
    padding-bottom: 10px;
    text-align: center;
    margin-right: 0px;
  }
  .cTsection1Container {
    margin-top: 10px;
  }
  .contactoContainerSection1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  .contactoContainerInfo {
    display: flex;
    flex-wrap: wrap;
    min-height: 480px;
    list-style-type: none;
    padding-left: 0px;
    flex-direction: column;
    line-height: 14px;
    align-items: center;
    text-align: center;
    margin-right: 0px;
  }
  .contactoFormContainer h1 {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    height: 91px;
    border-bottom: 1px solid #000000;
    text-align: center;
    left: 763px;
    top: 291px;
  }
  .contactoFormContainerTextoContactese {
    font-family: Quicksand;
    font-size: 29px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
  }
  .contactoFormContainer {
    width: 80%;
    margin-right: 0px !important;
  }
  .contactoMensajePlaceHolderET {
    width: 100%;
    text-align: center;
  }
  .contactoMensajePlaceHolderT {
    width: 100%;
    text-align: center;
  }
  .contactoMensajePlaceHolder {
    height: 60px;
    text-align: center;
  }
  .contactoMensajeInput {
    height: 120px;
    text-align: center;
  }
  .contactoContainerInfoTitulosP {
    color: #390000;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
  }
  .whatsapp img {
    width: 30px;
  }
}
@media (max-width: 705px) {
  .galeriaContainerTituloJugamos {
    min-height: 500px;
    flex-direction: column;
  }
  .indexSection2ContainerCetenid h1 {
    text-align: center;
  }
  .indexSection2ContainerCetenidTextoPrincipal {
    text-align: center;
  }
}
@media (max-width: 621px) {
  .contactoMensajePlaceHolder {
    margin-left: 0px;
  }
  .contactoMensajePlaceHolderET {
    margin-left: 0px;
  }
  .contactoMensajePlaceHolderT {
    margin-left: 0px;
  }
  .contactoMensajeInput {
    margin-left: 0px;
  }
  .cTsection1Container {
    margin: 20px;
  }
  .uk-navbar-nav > li > a {
    font-size: 17px;
  }
}
@media (max-width: 617px) {
  .contactoFormContainer {
    margin-right: 0px;
  }
  .contactoDataContainer {
    padding-left: 0px;
  }
  .contactoDataContainer h1 {
    margin-right: 0px;
  }
  .contactoContainerInfo {
    margin-right: 0px;
  }
}
@media (max-width: 610px) {
  .cTsectionContainerImg img {
    height: 450px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .cTsectionContainerImg {
    width: 100%;
  }
  .uk-child-width-1-3\@m > * {
    width: 100%;
  }
}
@media (max-width: 595px) {
  .nosotrosSectionTituloEquipo {
    font-size: 40px;
  }
  .cTcontainerTexto {
    font-size: 18px;
    line-height: 34px;
  }
  .cTsection2ContainerTituloSoles h1 {
    font-size: 32px;
  }
  .indexSection3Info {
    line-height: 35px;
  }
  .indexSection3Info {
    font-size: 20px;
    line-height: 49px;
  }
  .indexSection3Info {
    font-size: 20px;
    line-height: 40px;
  }
}
@media (max-width: 567) {
  .indexFooterCoberturaContainer p {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
    margin: 10px;
  }
  .indexSection3Info {
    font-size: 12px;
    font-weight: 600;
    line-height: 49px;
  }
  .uk-grid > * {
    padding-left: 0px;
  }
}
@media (max-width: 533px) {
  .cTsectionContainerTextoTitulo {
    font-size: 40px;
  }
  .contactoDataContainer h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
  }
  .contactoFormContainer h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 80px;
  }
}
@media (max-width: 529px) {
  .nosotrosGaleriaWidthImgMobile {
    width: 350px;
  }
}
@media (max-width: 513px) {
  .indexSection2ContainerCetenid h1 {
    text-align: center;
  }
  .indexSection2ContainerCetenidTextoPrincipal {
    text-align: center;
  }
  .indexSection2Container1 {
    max-width: 400px;
  }
  .uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
    width: 100px;
    margin-right: 10px;
  }
  .indexFooterCoberturaContainer h3 {
    border-bottom: 1px solid #390000;
    margin-bottom: 0px;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
  }
  .indexFooterCoberturaContainer {
    border: 1px solid #390000;
    display: flex;
    height: 210px;
    max-width: 300px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .indexFooterCoberturaContainer p {
    font-family: Quicksand;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
    margin: 10px;
  }
  .nosotrosSectionEquipoTexto {
    margin: 0px;
    text-align: center;
    padding-left: 0px;
  }
  .indexSection3Info {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 10px;
  }
  .NosotroscontainerTexto {
    font-family: "Noto Serif";
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
  }
  .cTsection2ContainerTituloSoles h1 {
    font-size: 27px;
  }
  .cTsection2ContainerTituloSoles h1 {
    text-align: center;
  }
  .cTcontainerNuestrasTerapiasSolesStyle {
    font-size: 20px;
  }
}
@media (max-width: 494px) {
  .indexSection2ContainerCetenidTextoPrincipal {
    font-size: 20px;
    line-height: 30px;
  }
  .indexsection3 {
    margin: 10px;
  }
  .uk-navbar-nav > li > a {
    font-size: 14px;
  }
  .galeriaContainerTituloJugamos p {
    font-size: 28px;
  }
  .footerCetCoberturaContainer {
    display: flex;
    max-width: 700px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .footerCetMenuContainerFlex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
    width: 80%;
  }
  .footerMenu {
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    box-shadow: inset 0 0 0 0 #BF304A;
    color: #390000;
    padding: 0 0.25rem;
    margin: 0 -0.25rem;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .nosotrosSectionTituloEquipo {
    font-size: 30px;
  }
  .uk-grid > * {
    padding-left: 0px;
  }
  [class*=uk-child-width] > * {
    box-sizing: border-box;
    width: 90%;
  }
}
@media (max-width: 482px) {
  [data-uk-cover],
  [uk-cover] {
    max-width: none;
    position: absolute;
  }
  .uk-navbar-nav > li > a {
    font-size: 12px;
  }
}
@media (max-width: 478px) {
  .cTsectionContainerTextoTitulo {
    line-height: 40px;
  }
}
@media (max-width: 447px) {
  .indexSection2MiniContainers {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 300px;
    justify-content: space-between;
    flex-direction: column;
  }
  .indexSection2Col2 {
    width: 300px;
  }
  .indexSection2Container1 {
    max-width: 400px;
  }
  .indexSection2ContainerCetenid {
    border-left: 3px solid #BF304A;
    padding: 10px;
    margin: 10px;
  }
  .contactoButtonEnviar {
    width: 190px;
  }
  .indexSection2MiniContainersTitulo {
    text-align: center;
  }
  .nosotrosSection1Titulo {
    font-size: 45px;
    width: 340px;
  }
  .indexSection2MiniContainersTituloActRecrea {
    text-align: center;
  }
  .cTsectionContainerImg img {
    height: 396px;
  }
  .indexSection2MiniContainersTituloP {
    text-align: center;
  }
  .cTsectionContainerImg img {
    height: 450px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .galeriaContainerTituloJugamos p {
    font-size: 20px;
  }
  .cTsection2ContainerTituloSoles h1 {
    font-size: 20px;
  }
  .cTsectionContainerImg img {
    height: 290px;
  }
}
@media (max-width: 412px) {
  .uk-navbar-nav > li > a {
    font-size: 11px;
  }
}
@media (max-width: 380px) {
  .indexFooterCoberturaContainer {
    border: 1px solid #390000;
    display: flex;
    height: 200px;
    max-width: 300px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .indexSection2Container1 {
    max-width: 350px;
  }
  .footerContainerInfo {
    width: 220px;
  }
  .cTsectionContainerTextoTitulo {
    font-size: 30px;
    line-height: 40px;
  }
  .uk-navbar-nav > li > a {
    font-size: 10.5px;
  }
}
@media (max-width: 372px) {
  .indexFooterCoberturaContainer p {
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
    margin: 10px;
  }
  .nosotrosGaleriaWidthImgMobile {
    width: 300px;
  }
  .nosotrosSection1Titulo {
    width: 300px;
  }
  .uk-navbar-nav > li > a {
    font-size: 10px;
  }
}
@media (max-width: 374px) {
  .nosotrosSectionEquipoTexto2 {
    height: 280px;
  }
}
@media (max-width: 347px) {
  .uk-list-large > * > ul,
  .uk-list-large > :nth-child(n+2) {
    margin-top: 20px;
  }
}
@media (max-width: 335px) {
  .footerMenu {
    font-family: Quicksand;
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .indexSection2ContainerCetenidTextoPrincipal {
    font-size: 15px;
  }
  .cTcontainerTexto {
    font-size: 24px;
    line-height: 54px;
  }
  .uk-navbar-nav > li > a {
    font-size: 9px;
  }
  .indexSection2Container1 {
    max-width: 300px;
  }
  .indexSection2ContainerCetenid h1 {
    color: #BF304A;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
  }
}
@media (max-width: 329px) {
  .cTsectionContainerImg img {
    max-width: 100%;
  }
  .cTcontainerTexto {
    font-size: 20px;
    line-height: 45px;
  }
  .nosotrosSectionEquipoTexto2 {
    height: 290px;
    padding-top: 30px;
  }
}
@media (max-width: 320px) {
  .indexFooterCoberturaContainer {
    border: 1px solid #390000;
    display: flex;
    height: 200px;
    max-width: 300px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .uk-navbar-nav > li > a {
    font-size: 9px;
  }
}
@media (max-width: 318px) {
  .uk-navbar-nav > li > a {
    font-size: 8px;
  }
}/*# sourceMappingURL=styles.css.map */