* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.indexCarrouselImg {
    justify-self: stretch;
    align-self: stretch;
    object-fit: cover;
}

.indexSection2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indexSection2MiniContainers {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.indexSection2ButtonContainer {
    display: flex;
    justify-content: center;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.indexSeccion3MiniContainers {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

}


.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uk-child-width-1-2\@s>* {
    width: 40%;
}

.indexSection3Button {
    box-sizing: border-box;
    width: 349px;
    height: 52px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    margin: 20px;

}

.indexSection3ButtonContainer {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.indexSection3ButtonContainer a {
    text-decoration: none;
    list-style-type: none;
}

.indexSection3ButtonContainer a:hover {
    color: white;
}



.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(90deg, #F7985B 0%, #FFF157 27.08%, #FDFDF2 80.21%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
    background-color: #FDFDF2;
}

.indexSection2ContainerCetenid {
    border-left: 3px solid #BF304A;
    padding: 20px;
}

.indexFooter {
    background: radial-gradient(126.78% 126.78% at 50% 124.3%, #F7985B 0%, #FFF157 52.33%, #FDFDF2 91.56%);
    ;
}

.uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
}

.indexFooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
}


.uk-width-1-2\@m {
    width: 30%;
    margin: 10px;
    background-color: transparent;
    text-align: center;
}

.indexSection2Button {
    box-sizing: border-box;
    width: 349px;
    height: 52px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    margin: 20px;
}

/*nosotros*/
.nosotrosSection1Containerimgtexto {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nosotrosSection1Containerimgtexto img {
    width: 100%;
    height: 500px;
}

.nosotrosSection1Containerimgtexto p {
    width: 50%;
}

.nosotrosSection1TituloTexto {
    width: 50%;
    padding-top: 20px;
}

.nosotrosSection1TituloTextoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
}

.nosotrosSectionTituloEquipo {
    text-align: center;
}

.nosotrosSectionEquipoTexto {
    margin: 20px;
    text-align: center;
}

a .logo {
    max-height: 325px;
    object-fit: cover;
}

.uk-navbar-nav>li.uk-active>a {
    padding-top: 10px;
    max-height: 107px;
}

/*contacto*/

.contactoFormContainer {

    width: 50%;
}

.contactoDataContainer {
    width: 50%;
    margin-top: 20px;
    padding-left: 45px;
}

.contactoContainerSection1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.input {
    background: #D9D9D9BF;
    left: 768px;
    top: 812px;
    border-radius: 20px;

}

.contactoButtonEnviar {
    box-sizing: border-box;
    width: 199px;
    height: 42px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    margin: 10px;
}

.contactoContainerInfo {
    display: flex;
    flex-wrap: wrap;
    height: 180px;
    list-style-type: none;
    padding-left: 0px;
}

.uk-card-defaultt {
    background-color: transparent;
    color: #666;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

/*como trabajamos*/
.cTsection1Container {
    width: 100%;
    margin: 40px;
}

.cTsection1ContainerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.cTsectionContainerImg {
    width: 300px;
}

.cTsectionContainerImg img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.cTsectionContainerTexto {
    width: 40%;
}

.cTcontainerNuestrasTerapiasSoles{display: flex;     height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}