* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.indexSection2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.indexSection2MiniContainers {
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.indexSection2Button {
    display: flex;
    justify-content: center;
}

.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
    align-items: center;
}

.indexSeccion3MiniContainers {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

}


.uk-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.uk-child-width-1-2\@s>* {
    width: 40%;
}

.indexSection3Button {
    box-sizing: border-box;
    width: 349px;
    height: 52px;
    background-color: #BF304A;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family: Montserrat;
    margin: 10px;

}

.indexSection3ButtonContainer a {
    text-decoration: none;
    list-style-type: none;
}

.indexSection3ButtonContainer a:hover {
    color: white;
}

.indexSection3ButtonContainer {
    display: flex;
    justify-content: center;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background: linear-gradient(90deg, #F7985B 0%, #FFF157 27.08%, #FDFDF2 80.21%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

body {
    background-color: #dedada;
}

.indexFooter {
    background: radial-gradient(126.78% 126.78% at 50% 124.3%, #F7985B 0%, #FFF157 52.33%, #FDFDF2 91.56%);
   
    ;
}

.uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
}

.indexFooterContainer{display: flex; justify-content: space-around;}


.uk-width-1-2\@m {
    width: 30%;
    margin: 10px;
    background-color: transparent;
    text-align: center;
}