/*como trabajamos*/
.cTsection1Container {

    margin: 40px;
}

.cTsection1ContainerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.cTsectionContainerImg {
    width: 100%;

}
.cTcontainerTexto::first-letter{
    color:#390000;
    font-size:30px ;
}

.cTContainerTextoWidth {
    max-width: 500px;
    padding-left: 0PX;
}

.cTsectionContainerImg img {
    height: 450px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.nosotrosSectionTituloEquipoFoto img {
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);
}

.cTsectionContainerTextoTituloPrincipal {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cTsectionContainerImg2 {
    padding-left: 0px;
}

.cTsectionContainerImg2 img {
    height: 350px;
    max-width: 130%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 32px 19px 42px 0px rgba(0, 0, 0, 0.25);

}

.cTsectionContainerTexto {
    width: 50%;
    margin-bottom: 20px;

}

.cTcontainerTexto {
    color: #390000;
    font-family: 'Noto Serif';
    font-style: normal;
    font-size: 20px;
    line-height: 54px;
    align-items: center;
    text-align: center;
    flex-direction: column;

}


.cTsectionContainerTextoTitulo {
    font-family: $TitulosPagesFontFamily;
    font-size: $TitulosPagesFontSize;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: $TitulosPagesColor;
    border-bottom: 1px solid #000000;
    text-align: center;
    width: 80%;

}

.cTcontainerNuestrasTerapiasSolesStyle {
    font-family: Quicksand;
    font-size: 28px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    color: #C93143;
    border-bottom: 1px solid #000000;
}

.cTsection2ContainerTituloSoles {
    width: 780px;
    display: flex;
    justify-content: space-around;

}





.cTsection2ContainerTituloSoles h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;
    margin-bottom: 0px;
    font-family: Quicksand;
}


.cTcontainerNuestrasTerapiasSoles {
    display: flex;
    height: 400px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    margin: 13px;
}

.imgBorder {
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sectiooon {
    max-height: 500px;
}


.uk-slideshow-items>* {
    max-height: 500px;
}

.uk-position-small {
    margin: 15px;
    --uk-position-margin-offset: 155px;
}

.cTcontainerTextoFoto {
    width: 100%;

}

.cTcontainerTextoFotoFlex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cTcontainerSol {
    width: 280px;
    height: 400px;
}