
/*contacto*/

.contactoFormContainer {
    margin-bottom: 20px;
    width: 50%;
    margin-right: 0px;
}

.contactoContainerInfoTitulos {
    font-weight: bold;
    color: #390000;
    ;
}

.uk-grid-column-small>*, .uk-grid-small>* {
    padding-left: 1px;
}


.contactoContainerInfoTitulosP {
    color: #390000;
    font-family: $FooterTextoFontFamily;
    font-size: $FooterTextoFontSize;
    font-weight: 300;
    line-height: 15px;

}
.formContainer{
     text-align: center;
    flex-direction: row;

}
.input {
    height: 50px;
    color: black;
    left: 768px;
    top: 812px;
    border-radius: 20px;
}

.contactoFormContainer h1 {
    font-family: $TitulosPagesFontFamily;
    font-size: $TitulosPagesFontSize;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: $TitulosPagesColor;
    height: 91px;
    border-bottom: 1px solid #000000;
    left: 763px;
    top: 291px;
   

}
.contactoFormTexto{
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 15px;
    
    }

.contactoFormContainerTextoContactese {
    font-family: Quicksand;
    font-size: 29px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;
    
    ;
}

.contactoDataContainer {
    width: 40%;

    padding-left: 45px;
}

.contactoDataContainer h1 {
    font-family: $TitulosPagesFontFamily;
    font-size: $TitulosPagesFontSize;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: $TitulosPagesColor;
    padding-top: 7px;
    border-bottom: 1px solid #000000;
    margin-top: 2px;
    padding-bottom: 20px;

}

.contactoContainerSection1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.input {
    background: #FEE1B5;
    color: black;
    left: 768px;
    top: 812px;
    border-radius: 20px;

}

.contactoButtonEnviar {
    box-sizing: border-box;
    width: 199px;
    height: 49px;
    background-color: $BotonesBackColor;
    border: 1px solid #000000;
    border-radius: 20px;
    color: #ffffff;
    font-size: $BotonesFontSize;
    font-weight: 600;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    font-family:$BotonesFontFamily;margin: 20px;
    
}

.contactoContainerInfo {
    display: flex;
    flex-wrap: wrap;
    min-height: 480px;
    list-style-type: none;
    padding-left: 0px;
    flex-direction: column;
    line-height: 14px;
}

.contactoMensajeInput{height: 120px;  margin-top: 30px!important}
.contactoMensajePlaceHolder{height: 60px;}
.contactoMensajePlaceHolderET{height: 60px; width: 49%;  margin-top: 30px!important; }
.contactoMensajePlaceHolderT{height: 60px; width: 400px;}
.mensajeForm{font-family: Quicksand;
    font-size: 29px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #390000;text-align: center;}