.footerContainerInfo {
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    list-style-type: none;
    padding-left: 0px;
    flex-direction: column;
    line-height: 14px;
    justify-content: center;
    margin-bottom: 0px;

}

.indexFooter {
    background: radial-gradient(126.78% 126.78% at 50% 124.3%, #F7985B 0%, #FFF157 52.33%, #FDFDF2 91.56%);
    ;
}

.uk-list {
    padding: 0;
    margin: 0px;
    list-style: none;
}

.indexFooterContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.indexFooterCoberturaContainer {
    border: 1px solid #390000;
    display: flex;
    height: 210px;
    width: 378px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;

    h3 {
        border-bottom: 1px solid #390000;
        margin-bottom: 0px;
    }

    p {
        font-family: Quicksand;
        font-size: 18px;
        font-weight: 400;
        line-height: 45px;
        letter-spacing: 0rem;
        text-align: center;
        width: 250px;
        margin-top: 10px;
    }
}

.uk-card-default {
    background-color: transparent;
    color: #666;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .08);
}

.uk-link,
a {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.uk-link,
a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.footerMenu {
    font-family: Quicksand;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}