

.cuerpo {
    background-color: black;
}
.works__container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.05fr 0.05fr 1.5fr 0.05fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
     
      "works__nombresDeArtistas__container"
      "works__imagenes__container"
      ;
  }

.works__nombresDeArtistas__container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    grid-area: works__nombresDeArtistas__container;
}

.works__nombresDeArtistas__container div {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.works__coversVideos__container {
    grid-area: works__coversVideos__container;
    display: flex;
    flex-wrap: wrap;
}

#imagenes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centrar__imagenes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.card__container {
    width: 50%;
    height: 300px;
    background-color: black;
    position: relative;
    border: solid black 1px;
    cursor: pointer;
}

.card__info {
    position: absolute;
    top: 45%;
    right: 18%;
    cursor: pointer;
    text-align: center;
    width: 60%;
}

.video__container {
    position: relative;
}

.works__footer {
    color: black;
    text-align: center;
}


  
  .imagen__container {
    width: 100%;
    height: 100%;
}


.card__container .imagen__container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


