.galeriaContainerJugamosImg {
    max-width: 100%;
    max-height: 846px;
    justify-self: stretch;
    align-self: stretch;
}

.galeriaContainerJugamosImg img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    background-position: center;
}

.galeriaContainerTituloJugamos {
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.galeriaContainerTituloJugamos p {
    font-size: 34px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
    font-family: Quicksand;
}

*+.uk-grid-margin,
.uk-grid+.uk-grid,
.uk-grid>.uk-grid-margin {
    margin-top: 0px;
}

.galeriaImagenes img {
    height: 250px;
    object-fit:cover;
    object-position:center;
    
}
.nosotrosGaleriaWidthImgMobile1{
    width: 33,33%!important;
    padding: 0px;
}


.galeriaSection1TituloCont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0px 20px;
    
}