@media(max-width:1227px) {
    .footerContainerInfo {
        display: flex;
        flex-wrap: wrap;
        height:360px;
        list-style-type: none;
        padding-left: 0px;
        flex-direction: column;
        line-height: 14px;
        justify-content: center;
        margin-bottom: 0px;
        width: 300px;
    }
}

//Nosotros
@media (max-width:1170px) {

    //navbar
    .uk-navbar-nav>li>a {
        padding: 0 0;
        color: #390000;
        text-transform: uppercase;
        transition: 0.1s ease-in-out;
        position: relative;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    //footer
    .uk-list {
        padding: 0;
        margin: 0px;
        list-style: none;
        width: 230px;
    }
}


@media (max-width:962px) {

    //navbar
    .uk-navbar-nav>li>a {
        padding: 0 0;
        color: #390000;
        text-transform: uppercase;
        transition: 0.1s ease-in-out;
        position: relative;
        font-family: Quicksand;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }

    //footer
    .uk-list {
        padding: 0;
        margin: 0px;
        list-style: none;
        width: 200px;
    }
}

@media(max-width:869px) {

    //navbar
    .uk-navbar {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    .uk-padding {
        padding: 0px;
    }

    .uk-navbar-center:only-child,
    .uk-navbar-left,
    .uk-navbar-right {
        flex-wrap: wrap;
        width: 100%;
    }

    .uk-navbar-left,
    .uk-navbar-right,
    [class*=uk-navbar-center] {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
    }

    .uk-navbar-nav>li>a {
        padding: 0 0;
        color: #390000;
        text-transform: uppercase;
        transition: 0.1s ease-in-out;
        position: relative;
        font-family: Quicksand;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .nosotrosSection1TituloTexto {
        width: 95%;
        padding-top: 20px;
    }
}

@media(max-width:782px) {

    //footer
    .indexFooterContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 10px;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }

    .indexFooterContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 20px;
        padding-bottom: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    //nosotros card ali ale info
    
}
//contacto
@media (max-width:719px){
    .contactoDataContainer {
        width: 90%;
        margin-top: 20px;
        padding-left: 45px;
    }
    .contactoDataContainer h1 {
        font-family: "Quicksand";
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        color: #BF304A;
        padding-top: 7px;
        border-bottom: 1px solid #000000;
        margin-top: 2px;
        padding-bottom: 20px;
        text-align: center;
    }
    .contactoContainerSection1 {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.contactoContainerInfo {
    display: flex;
    flex-wrap: wrap;
    min-height: 480px;
    list-style-type: none;
    padding-left: 0px;
    flex-direction: column;
    line-height: 14px;
    align-items: center;
    text-align: center;
}
.contactoFormContainer h1 {
    font-family: "Quicksand";
    font-size: 50px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: left;
    color: #BF304A;
    height: 91px;
    border-bottom: 1px solid #000000;
    text-align: center;
    left: 763px;
    top: 291px;
}
.contactoFormContainerTextoContactese {
    font-family: Quicksand;
    font-size: 29px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #390000;
}
.contactoFormContainer {
    width: 80%;
}
.contactoMensajePlaceHolderET {

    width: 100%;
    text-align: center;
}
.contactoMensajePlaceHolderT {
    width: 100%;
    text-align: center;
}
.contactoMensajePlaceHolder {
    height: 60px;
    text-align: center;
}
.contactoMensajeInput {
    height: 120px;
    text-align: center;
}
.contactoContainerInfoTitulosP {
    color: #390000;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}
}

@media(max-width:513px) {
    .uk-list {
        padding: 0;
        margin: 0px;
        list-style: none;
        width: 100px;
    }
    .footerMenu {
        font-family: Quicksand;
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media(max-width:494px) {
      .uk-navbar-nav > li > a {
        padding: 0 0;
        color: #390000;
        text-transform: uppercase;
        transition: 0.1s ease-in-out;
        position: relative;
        font-family: Quicksand;
        font-size: 10px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
    }
    .footerCetCoberturaContainer {
        display: flex;
        max-width: 700px;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .footerCetMenuContainerFlex{display: flex;width: 100%;}
    .uk-child-width-1-2\@s > * {
        width: 65%;
    }
    .uk-list {
        padding: 0;
        margin: 0px;
        list-style: none;
        width: 100%;
    }
    
    

}