
/*GENERALES*/

//Botones
$BotonesFontSize:24px;
$BotonesFontFamily:"Montserrat";
$BotonesBackColor:#BF304A;
$BotonesWidth:349px;

//Titulos secciones menos index
$TitulosPagesFontFamily:"Quicksand";
$TitulosPagesColor:#BF304A;
$TitulosPagesFontSize:50px;

//texto info cet e iconos y Nosotros texto

$TextoCeteIconosFontSize:25px;
$TextoCeteIconosColor:#390000;
$TextoCeteIconosFontFamily:"Noto Serif";


//footer tecxto

$FooterTextoFontSize:18px;
$FooterTextoFontFamily:"Quicksand";

$strongColor: #BF304A;