
/*GENERALES*/

//Botones
$BotonesFontSize:24px;
$BotonesFontFamily:"Montserrat";
$BotonesBackColor:#BF304A;
$BotonesWidth:349px;

//Titulos secciones menos index
$TitulosPagesFontFamily:"Quicksand";
$TitulosPagesColor:#BF304A;
$TitulosPagesFontSize:50px;

//texto info cet e iconos y Nosotros texto

$TextoCeteIconosFontSize:25px;
$TextoCeteIconosColor:#390000;
$TextoCeteIconosFontFamily:"Noto Serif";

//texto titulo iconos
$TextoCeteInconosTituloFontSize:26px;


//footer texto

$FooterTextoFontSize:18px;
$FooterTextoFontFamily:"Quicksand";
$strongColor: #BF304A;

//nosotros cards
$TextoCardsSociasFontSize:18px;
$TextoCardsSociasFontaFamily:"Quicksand";
$TextoCardsSociasColor:#390000;

$TextoCardsSociasTituloFontSize:25PX;
$TextoCardsSociasLine-Height:26px;
