
.whatsapp {
    position: fixed;
    color: black;
    padding: 0.5rem 1rem;
    display: inline-block;
    bottom: 1rem;
    right: 0.1rem;
    text-decoration: none;
    background-color: #BF304A;
}